version: "3.5"

services:
  app:
    container_name: user-auth-jwt-api
    tty: true
    build:
      context: .
      target: builder
    ports:
      - "8081:8081"
    environment:
      DB_ADDR: db:3306
      DB_USER: userauth
      DB_NAME: userauth
      DB_PASS: userauth
    depends_on:
      - db
    command: ./bin/server
  db:
    container_name: mysql
    hostname: db
    image: mysql:8.0.20
    environment:
      MYSQL_ROOT_PASSWORD:
      MYSQL_USER: userauth
      MYSQL_PASSWORD: userauth
      MYSQL_DATABASE: userauth
    command: --default-authentication-plugin=mysql_native_password
    expose:
      - "3306"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
